@page "/"

@inject NavigationManager Navigation

<LayoutView Layout="@typeof(HomeLayout)">
    <PageTitle>Home</PageTitle>
    
    <h1>Hello, world!</h1>
    
    Welcome to your new test.
    
    <LogOutButton />
</LayoutView>

@code
{
}