@page "/profile/{Id:guid}"

<LayoutView Layout="@typeof(HomeLayout)">
    <PageTitle>Profile</PageTitle>
    <div class="flex flex-col items-stretch gap-2 pt-2">
        <ProfileCard UserId="Id"/>
        <CreatePost/>
    </div>
</LayoutView>

@code {
    [Parameter] public Guid Id { get; set; }
}