@using Fluxor
@using WebForum.Frontend.States.AuthState
@using WebForum.Frontend.States.AuthState.Actions

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<AuthState> AuthState
@inject IDispatcher Dispatcher

<button @onclick="OnClick"
        disabled="@AuthState.Value.IsLoading">
    @if (AuthState.Value.IsLoading)
    {
        <p Class="ms-2">Processing</p>
    }
    else
    {
        <p>Log out</p>
    }
</button>

@code {

    private void OnClick()
    {
        Dispatcher.Dispatch(new AuthLogOutStartAction());
    }
}