@using Markdig
@using Markdig.SyntaxHighlighting
@using ColorCode.Compilation.Languages
@using Markdown = Markdig.Markdown

<div payload>
    <h1 class="text-">Test</h1>
    
    <h2>Test</h2>
    
    @CreateComponent()
</div>

@code {
    [Parameter] public string Content { get; set; }
    
    private MarkupString CreateComponent()
    {
        var pipeline = new MarkdownPipelineBuilder()
            .UseAdvancedExtensions()
            .UseSyntaxHighlighting()
            .Build();

        var content = Markdown.ToHtml(Content, pipeline);

        return new MarkupString(content);
    }

}