@using Markdig

<div payload class="@Class">
    @CreateComponent()
</div>

@code {
    [Parameter] public string Class { get; set; } = string.Empty;
    [Parameter] public string Content { get; set; } = string.Empty;

    private MarkupString CreateComponent()
    {
        var pipeline = new MarkdownPipelineBuilder()
            .UseAdvancedExtensions()
            .Build();

        var content = Markdown.ToHtml(Content, pipeline);

        return new MarkupString(content);
    }

}