@using WebForum.Frontend.HttpClients
@using WebForum.Frontend.HttpClients.Responses
@using WebForum.Frontend.Services.Interfaces
@inherits LayoutComponentBase

@inject IAuthService AuthService
@inject ProfileHttpClient ProfileHttpClient
@inject NavigationManager Navigation

<div class="max-w-screen-lg mx-auto pt-2">
    <div class="navbar bg-primary-content rounded-box shadow-xl">
        <div class="flex-1">
            <a class="btn btn-ghost text-2xl" @onclick="OnLogoClick">Rubit</a>
        </div>


        <div class="flex-none">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="avatar" src="@_profile?.AvatarUri?.ToString()"/>
                    </div>
                </div>

                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-32">
                    <li>
                        <a @onclick="OnProfileClick">Profile</a>
                    </li>
                    <li>
                        <a @onclick="OnLogoutClick">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <main class="h-full">
        @Body
    </main>
</div>

@code
{
    private Profile? _profile;

    protected override async Task OnInitializedAsync()
    {
        var authInfo = await AuthService.GetInfo(default);
        if (authInfo is null)
        {
            await AuthService.Logout(default);
            Navigation.NavigateTo("/signin");
            return;
        }

        var (profile, error) = await ProfileHttpClient.Get(authInfo.Id, default);
        Console.WriteLine(profile);
        if (profile is null)
        {
            await AuthService.Logout(default);
            Navigation.NavigateTo("/signin");
            return;
        }

        Console.WriteLine(profile);
        
        _profile = profile;
    }

    private void OnLogoClick()
    {
        Navigation.NavigateTo("/");
    }

    private async Task OnLogoutClick()
    {
        await AuthService.Logout(default);
        Navigation.NavigateTo("/signin");
    }

    private void OnProfileClick()
    {
        Navigation.NavigateTo($"/profile/{_profile.UserId}");
    }
}