@inherits LayoutComponentBase

<div>
    @Body
</div>

<style>
    .body-background{
        background-size: 400px;
        background-image: url("/circuit-board.svg");
        background-repeat: repeat;
    }
</style>